* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #161515;
}

.navbar-brand {
  font-family: viga;
}

.navbar-nav {
  margin-left: 415px;
}

span {
  color: rgb(44, 44, 175);
}

.navbar {
  z-index: 999999999;
  background-color: #161515;
}

.navbar a {
  font-weight: 500;
  margin-left: 40px;
  color: white;
}

.navbar a:hover {
  color: rgb(179, 179, 179);
}

.kata1 {
  width: 500px;
  color: white;
  margin-top: 100px;
  float: left;
}

.kata1 p {
  color: rgb(138, 138, 138);
}

.judul span {
  font-size: 20px;
  font-family: viga;
  font-weight: 900;
}

.back1 {
  margin-top: 30px;
  margin-left: 30vh;
  z-index: 999999;
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  background-image: linear-gradient(rgb(29, 29, 29), #161515);
}

.back1 img {
  z-index: 3;
  width: 500px;
  left: -75px;
  top: -60px;
  justify-content: center;
  position: absolute;
}

.bintang1 {
  position: absolute;
  top: 50px;
  left: 10px;
}
.bintang2 {
  position: absolute;
  top: 150px;
  left: 230px;
}
.bintang3 {
  top: 250px;
  position: absolute;
}

.tombol {
  background-color: rgb(28, 28, 28);
  color: rgb(44, 44, 175);
}

.tombol1 {
  position: relative;
  z-index: 999;
  display: flex;
}

.tombol:hover {
  color: rgb(44, 44, 175);
}

.logo-donwload {
  margin-bottom: 6px;
}

.wa {
  margin-right: 30px;
}

.instagram,
.wa {
  position: relative;
  bottom: 12px;
  right: 60px;
}

section#about {
  padding-top: 40px;
  margin-top: 60px;
}

/* project */

section#project {
  padding-top: 1px;
}

.pembungkus h2 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}

.pembungkus {
  width: 825px;
}

.pj1 {
  border-radius: 5px;
  margin-bottom: 150px;
}

.pj1 img {
  border-radius: 5px;
  width: 800px;
  height: 100%;
  background-size: cover;
}

.halaman-selanjutnya {
  display: flex;
}

.halaman-selanjutnya a {
  margin-top: 23px;
  color: rgb(179, 179, 179);
  text-decoration: none;
}

.halaman-selanjutnya .open-halaman {
  margin-top: 20px;
}

/* mobile */
@media (max-width: 500px) {
  .back1 {
    display: flex;
    margin: 20px 8vh;
  }

  .pj1 img {
    width: 400px;
  }

  .pembungkus {
    width: 100%;
  }
}
