* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #161515;
  height:3800px;
}

.navbar-brand {
  font-family: viga;
}

.navbar-nav {
  margin-left: 430px;
}

span {
  color: rgb(44, 44, 175);
}

.navbar {
  z-index: 999999999;
  background-color: #161515;
}

.navbar a {
  margin-left:30px;
  font-weight: 500;
  color: white;
}

.navbar a:hover {
  color: rgb(179, 179, 179);
}

.kata1 {
  width: 500px;
  color: white;
  margin-top: 100px;
  float: left;
}

.kata1 p {
  color: rgb(138, 138, 138);
}

.judul span {
  font-size: 20px;
  font-family: viga;
  font-weight: 900;
}

.back1 {
  margin-top: 30px;
  margin-left: 30vh;
  z-index: 999999;
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  background-image: linear-gradient(rgb(29, 29, 29), #161515);
}

.back1 img {
  z-index: 3;
  width: 500px;
  left: -75px;
  top: -60px;
  justify-content: center;
  position: absolute;
}

.bintang1 {
  position: absolute;
  top: 50px;
  left: 10px;
}
.bintang2 {
  position: absolute;
  top: 150px;
  left: 230px;
}
.bintang3 {
  top: 250px;
  position: absolute;
}

.tombol {
  background-color: rgb(28, 28, 28);
  color: rgb(44, 44, 175);
}

.tombol1 {
  position: relative;
  z-index: 999;
  display: flex;
}

.tombol:hover {
  color: rgb(44, 44, 175);
}

.logo-donwload {
  margin-bottom: 6px;
}

.wa {
  margin-right: 30px;
}

.instagram,
.wa {
  position: relative;
  bottom: 12px;
  right: 60px;
}

section#about {
  padding-top: 40px;
  margin-top: 60px;
}

/* project */

section#project {
  padding-top: 1px;
}

.pembungkus h2 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}

.pembungkus {
  width: 825px;
}

.pj1 {
  border-radius: 5px;
  margin-bottom: 150px;
}

.pj1 img {
  border-radius: 5px;
  width: 800px;
  height: 100%;
  background-size: cover;
}

.halaman-selanjutnya {
  display: flex;
}

.halaman-selanjutnya a {
  margin-top: 23px;
  color: rgb(179, 179, 179);
  text-decoration: none;
}

.halaman-selanjutnya .open-halaman {
  margin-top: 20px;
}

/* papan rekrut */

section#tools {
  padding-top: 150px;
}

.rekrut {
  width: 100vh;
  height: 100px;
  margin-top: 10px;
}

.tool1 img,
.tool2 img,
.tool3 img,
.tool4 img {
  border-radius: 10px;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.bekerja{
  display: flex;
}

.bekerja p {
  padding-right: 30px;
  margin-top: 15px;
}

.tombol-rekrut {
  margin-right: 200px;
  color: white;
  background-color: rgb(44, 44, 175);
}

/* akhir */

/* mobile */
@media (max-width: 500px) {



/* project */


.pj1 img {
  width:255px;
}

.pembungkus {
  margin-left:0;
  width: 200px;
}


/* akhir project */


  /* tool */

  .rekrut  img{
    width:40px;
    height:40px;
  }


  .rekrut{
    height:50px;
    width: 280px;
  }

  .bekerja{
    display: block;
  }


  .bekerja a button {
    width: 200px;

  }
  
  /* akhit=r tools */

  /* navbar */

  .navbar-brand h3 {
    font-size: 16px;
    position: absolute;
    left: 10px;
  }

  .navbar-nav {
    margin: 0;
  }


  .kata1 {
    width: 500px;
  }



  .navbar-toggler {
    margin-top: 15px;
  }
  /* akhir navbar */

  /* kata kata */

  .grup-kata{
    margin-top:300px;
    width:280px;
  }

  .wa{
    margin-right:15px;
  }

  .tombol1{
    position: absolute;
    left:240px;
  }
  /* akhir kata  */

  /* avatar */

    .back1 {
    display: flex;
    margin: 20px 8vh;
  }

  .back1 img{
    top:-80px;
    left:-85px;
    width:400px;
  }

  .back1{
    position: absolute;
    top:100px;
    left:-28px;
    height:360px;
    width:230px;
  }


  .bintang1{
    display:none;
  }


  .bintang2{
    display:none;
    top:0;
    left:85px;
  }

  .bintang3{
    display:none;
  }


  /* akhir avatar */
}
