body {
  background-color: #161515;
  height: 5000px;
}

/* navbar */

.navbar {
  text-transform: uppercase;
  background-color: #161515;
}

.container .navbar-brand {
  margin-left: -80px;
}

.navbar-nav {
  margin-right: -10px;
}

.navbar-brand {
  font-family: viga;
  font-size: 25px;
}

.navbar a {
  margin-left: 30px;
  font-weight: 500;
  color: white;
}

.navbar a:hover {
  color: rgb(179, 179, 179);
}

span {
  color: rgb(44, 44, 175);
}

/* akhir navbar */

/* about */

section#about {
  margin-top: 50px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.kata1 {
  width: 500px;
  color: white;
  margin-top: 100px;
}

.judul span {
  font-size: 20px;
  font-family: viga;
  font-weight: 900;
}

.kata1 p {
  color: rgb(138, 138, 138);
}

.tombol {
  background-color: rgb(28, 28, 28);
  color: rgb(44, 44, 175);
}

.logo-donwload {
  margin-bottom: 6px;
}

.tombol:hover {
  color: rgb(44, 44, 175);
}

.tombol-sosial {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sosial {
  margin-left: -40px;
  display: flex;
  margin-top: 10px;
}

.ig {
  margin-left: 20px;
}

.avatar img {
  width: 500px;
}

.avatar {
  margin-top: -50px;
  margin-left: -200px;
}

/* akhir about */

/* project */

.project {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
  margin-top: 200px;
}

.project h4{
    padding-bottom:20px;
}


.project .myprj img {
  border-radius:5px;
  width:900px;
}

.myprjl{
  margin-top:20px;
  margin-left:20px;
  margin-bottom:100px;
}

.myprjl   a{
  color:white;
  text-decoration: none;
}

.myprjl svg {
  margin-right:10px;
}

/* akhir project */



















/* mobile */

@media (max-width: 400px) {
  /* about */
  section#about {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .avatar img {
    width: 300px;
  }

  .avatar {
    margin-left: -400px;
  }

  .kata1 {
    margin-top: 300px;
    width: 400px;
  }

  .sosial {
    margin-left: 20px;
  }

  /* akhir about */

  /* NAVBAR */

  .container .navbar-brand {
    margin-left: 0px;
    font-size: 18px;
  }

  .navbar li a {
    font-weight: 500;
    color: white;
  }

  /* akhir navbar */

  /* project */

  .project {
    padding-top: 80px;
    margin-top: -500px;
  }

  .project .myprj img {
  border-radius:5px;
  width:100%;
}



  /* akhir project */
}
