body{
background-image:url(One-Piece-Luffy-Straw-Hat-2110220350.webp) ;
background-repeat: no-repeat;
background-size: cover;
align-items: center;
display: flex;
height:100vh;
padding:0;
justify-content: center;
}

.login-1{
background-color:rgba(255,255,255.08);
height: 150px;
width: 300px;
text-align: center;
border-radius:20px;
box-shadow:10px 20px 30px black;
padding:20px;
opacity:0,8px;
transition:.3s;
}

div-input{
width:90%;
margin-bottom: 10px;
padding:10px;
}

h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
margin-bottom:20px;
}